# Premier League Match Analysis: A Statistical Exploration

This project analyzes Premier League match results from the 2006-2007 season to the 2023-2024 season. It serves as a portfolio piece to demonstrate a wide array of foundational data analysis skills, from basic statistical concepts to more advanced techniques.

First, we need to import the libraries that we're going to use for analysis.

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

Next, we will go ahead and import the data from our csv file into a Pandas DataFrame

In [2]:
results_df = pd.read_csv("data/results_data.csv")

Now that the data is loaded into a DataFrame we can just take a quick look at what we might be working with. First, we will have Python display some of the basic _info_ of the DataFrame and then we will actually look at the _first 5 rows_ of the DataFrame

In [3]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   6500 non-null   object
 1   away_team   6500 non-null   object
 2   home_goals  6500 non-null   int64
 3   away_goals  6500 non-null   int64
 4   season      6500 non-null   object
dtypes: int64(2), object(3)
memory usage: 254.0+ KB

In [4]:
results_df.head()

          home_team         away_team  home_goals  away_goals     season
0  Sheffield United         Liverpool           1           1  2006-2007
1           Arsenal       Aston Villa           1           1  2006-2007
2           Everton           Watford           2           1  2006-2007
3  Newcastle United    Wigan Athletic           2           1  2006-2007
4        Portsmouth  Blackburn Rovers           3           0  2006-2007

The dataset appears fine. I am a little suspicious of the team names and whether or not they are all spelled correctly. Let's take a look at the unique values that we have for the columns *home_team* *away_team* and *season*.

In [5]:
sorted(results_df.home_team.unique())

['AFC Bournemouth',
 'Arsenal',
 'Aston Villa',
 'Birmingham City',
 'Blackburn Rovers',
 'Blackpool',
 'Bolton Wanderers',
 'Bournemouth',
 'Brentford',
 'Brighton',
 'Brighton & Hove Albion',
 'Brighton and Hove Albion',
 'Burnley',
 'Cardiff',
 'Cardiff City',
 'Charlton Athletic',
 'Chelsea',
 'Crystal Palace',
 'Derby County',
 'Everton',
 'Fulham',
 'Huddersfield',
 'Huddersfield Town',
 'Hull City',
 'Leeds',
 'Leicester',
 'Leicester City',
 'Liverpool',
 'Luton Town',
 'Man City',
 'Man United',
 'Manchester City',
 'Manchester United',
 'Middlesbrough',
 'Newcastle',
 'Newcastle United',
 'Norwich',
 'Norwich City',
 'Nottingham',
 'Nottingham Forest',
 'Portsmouth',
 'Queens Park Rangers',
 'Reading',
 'Sheffield United',
 'Southampton',
 'Stoke City',
 'Sunderland',
 'Swansea City',
 'Tottenham',
 'Tottenham Hotspur',
 'Watford',
 'West Brom',
 'West Bromwich Albion',
 'West Ham',
 'West Ham United',
 'Wigan Athletic',
 'Wolverhampton Wanderers',
 'Wolves']

As I suspected we can already see that our names are going to have issues. For example, in the home_team column we have 3 different versions of the team Brighton & Hove Albion. Let's go ahead and make a list of all the team names from both columns, sort it, and use that list to create a name map for both columns.

In [6]:
team_list = []

for team in results_df.home_team.unique():
    team_list.append(team)

for team in results_df.away_team.unique():
    if team not in team_list:
        team_list.append(team)

team_list.sort()

team_list_length = len(team_list)

print(f"The number of unique team names in this list is: {team_list_length}")

for team in team_list:
    print(team)

The number of unique team names in this list is: 58
AFC Bournemouth
Arsenal
Aston Villa
Birmingham City
Blackburn Rovers
Blackpool
Bolton Wanderers
Bournemouth
Brentford
Brighton
Brighton & Hove Albion
Brighton and Hove Albion
Burnley
Cardiff
Cardiff City
Charlton Athletic
Chelsea
Crystal Palace
Derby County
Everton
Fulham
Huddersfield
Huddersfield Town
Hull City
Leeds
Leicester
Leicester City
Liverpool
Luton Town
Man City
Man United
Manchester City
Manchester United
Middlesbrough
Newcastle
Newcastle United
Norwich
Norwich City
Nottingham
Nottingham Forest
Portsmouth
Queens Park Rangers
Reading
Sheffield United
Southampton
Stoke City
Sunderland
Swansea City
Tottenham
Tottenham Hotspur
Watford
West Brom
West Bromwich Albion
West Ham
West Ham United
Wigan Athletic
Wolverhampton Wanderers
Wolves

I am going to create a dictionary to map all of the variations to standard names. We will simply pick 1 version of a team name and apply it to any variations that might occur in the list.

In [7]:
team_name_mapping = {
    "AFC Bournemouth": "Bournemouth",
    "Brighton": "Brighton and Hove Albion",
    "Brighton & Hove Albion": "Brighton and Hove Albion",
    "Cardiff": "Cardiff City",
    "Huddersfield": "Huddersfield Town",
    "Leicester": "Leicester City",
    "Man City": "Manchester City",
    "Man United": "Manchester United",
    "Newcastle": "Newcastle United",
    "Norwich": "Norwich City",
    "Nottingham": "Nottingham Forest",
    "Tottenham": "Tottenham Hotspur",
    "West Brom": "West Bromwich Albion",
    "West Ham": "West Ham United",
    "Wolves": "Wolverhampton Wanderers"
}

Let's go ahead and apply our mapping and just double check that we captured all of the issues in our columns.

In [8]:
results_df.home_team = results_df.home_team.replace(team_name_mapping)
results_df.away_team = results_df.away_team.replace(team_name_mapping)

In [9]:
team_list = []

for team in results_df.home_team.unique():
    team_list.append(team)

for team in results_df.away_team.unique():
    if team not in team_list:
        team_list.append(team)

team_list.sort()

team_list_length = len(team_list)

print(f"The number of unique team names in this list is: {team_list_length}")

for team in team_list:
    print(team)

The number of unique team names in this list is: 43
Arsenal
Aston Villa
Birmingham City
Blackburn Rovers
Blackpool
Bolton Wanderers
Bournemouth
Brentford
Brighton and Hove Albion
Burnley
Cardiff City
Charlton Athletic
Chelsea
Crystal Palace
Derby County
Everton
Fulham
Huddersfield Town
Hull City
Leeds
Leicester City
Liverpool
Luton Town
Manchester City
Manchester United
Middlesbrough
Newcastle United
Norwich City
Nottingham Forest
Portsmouth
Queens Park Rangers
Reading
Sheffield United
Southampton
Stoke City
Sunderland
Swansea City
Tottenham Hotspur
Watford
West Bromwich Albion
West Ham United
Wigan Athletic
Wolverhampton Wanderers

I think we have taken care of all of the issues with the team names. Lets just take a look at our *season* column and the unique values for that variable.

In [10]:
print(results_df.season.unique())

['2006-2007' '2007-2008' '2008-2009' '2009-2010' '2010-2011' '2011-2012'
 '2012-2013' '2013-2014' '2014-2015' '2015-2016' '2016-2017' '2017-2018'
 '2018-2019' '2019-2020' '2020-2021' '2021-2022' '2022-2023' '2023-2024']

Since we have already shown in a previous step that we have no null values and soccer matches are allowed to have 0 goals scored I will not check the home_goals and away_goals columns. This is for 2 reasons. One, if the data has no values that are specifically labled null or left blank, and a team is allowed to score 0 goals in a game, we cannot assume that a 0 means that the data is missing or null. Two, we will be later looking at the distribution of this data and getting an idea for it's shape and potential outliers. So we can leave these alone for now.

Next, let's just make sure that the DataFrame data types are exactly how we want them to be for analysis. Let's go ahead and change the *home_team*, *away_team*, and *season* to the categorical data type.

In [11]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   6500 non-null   object
 1   away_team   6500 non-null   object
 2   home_goals  6500 non-null   int64
 3   away_goals  6500 non-null   int64
 4   season      6500 non-null   object
dtypes: int64(2), object(3)
memory usage: 254.0+ KB

In [12]:
results_df.home_team = results_df.home_team.astype('category')
results_df.away_team = results_df.away_team.astype('category')
results_df.season = results_df.season.astype('category')

In [13]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   home_team   6500 non-null   category
 1   away_team   6500 non-null   category
 2   home_goals  6500 non-null   int64
 3   away_goals  6500 non-null   int64
 4   season      6500 non-null   category
dtypes: category(3), int64(2)
memory usage: 124.2 KB

## Feature Engineering

Before we begin to do further analysis I want to create a couple more variables that we might want to keep track of. I am going to start with some basic additions and then work up to some more complex ones.

Let's start with a goal difference column and a total goals column.

In [14]:
results_df["goal_difference"] = results_df.home_goals - results_df.away_goals
results_df["total_goals"] = results_df.home_goals + results_df.away_goals
results_df.head()

,home_team,away_team,home_goals,away_goals,season,goal_difference,total_goals
0,Sheffield United,Liverpool,1,1,2006-2007,0,2
1,Arsenal,Aston Villa,1,1,2006-2007,0,2
2,Everton,Watford,2,1,2006-2007,1,3
3,Newcastle United,Wigan Athletic,2,1,2006-2007,1,3
4,Portsmouth,Blackburn Rovers,3,0,2006-2007,3,3

I am going to also create a column for the result of the match. I'm going to create it as a categorical variable at first and then use Python's one-hot-encoding to break it down into binary columns.

In [15]:
results_df["result"] = results_df.goal_difference.apply(lambda x: "home_win" if x > 0 else ("draw" if x == 0 else "away_win"))
results_df.head()

,home_team,away_team,home_goals,away_goals,season,goal_difference,total_goals,result
0,Sheffield United,Liverpool,1,1,2006-2007,0,2,draw
1,Arsenal,Aston Villa,1,1,2006-2007,0,2,draw
2,Everton,Watford,2,1,2006-2007,1,3,home_win
3,Newcastle United,Wigan Athletic,2,1,2006-2007,1,3,home_win
4,Portsmouth,Blackburn Rovers,3,0,2006-2007,3,3,home_win

I'm going to go ahead and turn the new *result* column into three binary columns by using Panda's get_dummies.

In [16]:
results_df = pd.get_dummies(data=results_df,columns=["result"])
results_df.head()

,home_team,away_team,home_goals,away_goals,season,goal_difference,total_goals,result_away_win,result_draw,result_home_win
0,Sheffield United,Liverpool,1,1,2006-2007,0,2,False,True,False
1,Arsenal,Aston Villa,1,1,2006-2007,0,2,False,True,False
2,Everton,Watford,2,1,2006-2007,1,3,False,False,True
3,Newcastle United,Wigan Athletic,2,1,2006-2007,1,3,False,False,True
4,Portsmouth,Blackburn Rovers,3,0,2006-2007,3,3,False,False,True

I want to create a column that shows the team's average goals scored for the season up to that point. I'm going to create a function that will help me do this.

In [1]:
def calculate_running_average(df):
    # Initialize some columns
    df["home_season_avg_goals"] = 0
    df["away_season_avg_goals"] = 0

    for season in df["season"].unique():
        season_df = df[df['season'] == season]

        for team in season_df['home_team'].unique():
            home_team_matches = season_df[season_df['home_team'] == team]
            df.loc[home_team_matches.index, 'home_season_avg_goals'] = home_team_matches['home_goals'].expanding().mean()

        for team in season_df['away_team'].unique():
            away_team_matches = season_df[season_df['away_team'] == team]
            df.loc[away_team_matches.index, 'away_season_avg_goals'] = away_team_matches['away_team'].expanding().mean()

    return df

In [25]:
results_df = calculate_running_average(results_df)

             home_team         away_team  home_goals  away_goals     season  \
0     Sheffield United         Liverpool           1           1  2006-2007
1              Arsenal       Aston Villa           1           1  2006-2007
2              Everton           Watford           2           1  2006-2007
3     Newcastle United    Wigan Athletic           2           1  2006-2007
4           Portsmouth  Blackburn Rovers           3           0  2006-2007
..                 ...               ...         ...         ...        ...
375      Middlesbrough            Fulham           3           1  2006-2007
376         Portsmouth           Arsenal           0           0  2006-2007
377   Sheffield United    Wigan Athletic           1           2  2006-2007
378  Tottenham Hotspur   Manchester City           2           1  2006-2007
379            Watford  Newcastle United           1           1  2006-2007

     goal_difference  total_goals  result_away_win  result_draw  \
0                  0            2            False         True
1                  0            2            False         True
2                  1            3            False        False
3                  1            3            False        False
4                  3            3            False        False
..               ...          ...              ...          ...
375                2            4            False        False
376                0            0            False         True
377               -1            3             True        False
378                1            3            False        False
379                0            2            False         True

     result_home_win  home_season_avg_goals  away_season_avg_goals
0              False                      0                      0
1              False                      0                      0
2               True                      0                      0
3               True                      0                      0
4               True                      0                      0
..               ...                    ...                    ...
375             True                      0                      0
376            False                      0                      0
377            False                      0                      0
378             True                      0                      0
379            False                      0                      0

[380 rows x 12 columns]
             home_team          away_team  home_goals  away_goals     season  \
380         Sunderland  Tottenham Hotspur           1           0  2007-2008
381   Bolton Wanderers   Newcastle United           1           3  2007-2008
382       Derby County         Portsmouth           2           2  2007-2008
383            Everton     Wigan Athletic           2           1  2007-2008
384      Middlesbrough   Blackburn Rovers           1           2  2007-2008
..                 ...                ...         ...         ...        ...
755         Portsmouth             Fulham           0           1  2007-2008
756         Sunderland            Arsenal           0           1  2007-2008
757  Tottenham Hotspur          Liverpool           0           2  2007-2008
758    West Ham United        Aston Villa           2           2  2007-2008
759     Wigan Athletic  Manchester United           0           2  2007-2008

     goal_difference  total_goals  result_away_win  result_draw  \
380                1            1            False        False
381               -2            4             True        False
382                0            4            False         True
383                1            3            False        False
384               -1            3             True        False
..               ...          ...              ...          ...
755               -1            1             True        False
756               -1            1             True        False
757               -2            2             True        False
758                0            4            False         True
759               -2            2             True        False

     result_home_win  home_season_avg_goals  away_season_avg_goals
380             True                      0                      0
381            False                      0                      0
382            False                      0                      0
383             True                      0                      0
384            False                      0                      0
..               ...                    ...                    ...
755            False                      0                      0
756            False                      0                      0
757            False                      0                      0
758            False                      0                      0
759            False                      0                      0

[380 rows x 12 columns]
             home_team             away_team  home_goals  away_goals  \
760            Arsenal  West Bromwich Albion           1           0
761   Bolton Wanderers            Stoke City           3           1
762            Everton      Blackburn Rovers           2           3
763          Hull City                Fulham           2           1
764      Middlesbrough     Tottenham Hotspur           2           1
...                ...                   ...         ...         ...
1135         Liverpool     Tottenham Hotspur           3           1
1136   Manchester City      Bolton Wanderers           1           0
1137        Sunderland               Chelsea           2           3
1138   West Ham United         Middlesbrough           2           1
1139    Wigan Athletic            Portsmouth           1           0

         season  goal_difference  total_goals  result_away_win  result_draw  \
760   2008-2009                1            1            False        False
761   2008-2009                2            4            False        False
762   2008-2009               -1            5             True        False
763   2008-2009                1            3            False        False
764   2008-2009                1            3            False        False
...         ...              ...          ...              ...          ...
1135  2008-2009                2            4            False        False
1136  2008-2009                1            1            False        False
1137  2008-2009               -1            5             True        False
1138  2008-2009                1            3            False        False
1139  2008-2009                1            1            False        False

      result_home_win  home_season_avg_goals  away_season_avg_goals
760              True                      0                      0
761              True                      0                      0
762             False                      0                      0
763              True                      0                      0
764              True                      0                      0
...               ...                    ...                    ...
1135             True                      0                      0
1136             True                      0                      0
1137            False                      0                      0
1138             True                      0                      0
1139             True                      0                      0

[380 rows x 12 columns]
                    home_team        away_team  home_goals  away_goals  \
1140                  Chelsea        Hull City           2           1
1141              Aston Villa   Wigan Athletic           0           2
1142         Blackburn Rovers  Manchester City           0           2
1143         Bolton Wanderers       Sunderland           0           1
1144               Portsmouth           Fulham           0           1
...                       ...              ...         ...         ...
1515                  Everton       Portsmouth           1           0
1516                Hull City        Liverpool           0           0
1517        Manchester United       Stoke City           4           0
1518          West Ham United  Manchester City           1           1
1519  Wolverhampton Wanderers       Sunderland           2           1

         season  goal_difference  total_goals  result_away_win  result_draw  \
1140  2009-2010                1            3            False        False
1141  2009-2010               -2            2             True        False
1142  2009-2010               -2            2             True        False
1143  2009-2010               -1            1             True        False
1144  2009-2010               -1            1             True        False
...         ...              ...          ...              ...          ...
1515  2009-2010                1            1            False        False
1516  2009-2010                0            0            False         True
1517  2009-2010                4            4            False        False
1518  2009-2010                0            2            False         True
1519  2009-2010                1            3            False        False

      result_home_win  home_season_avg_goals  away_season_avg_goals
1140             True                      0                      0
1141            False                      0                      0
1142            False                      0                      0
1143            False                      0                      0
1144            False                      0                      0
...               ...                    ...                    ...
1515             True                      0                      0
1516            False                      0                      0
1517             True                      0                      0
1518            False                      0                      0
1519             True                      0                      0

[380 rows x 12 columns]
                    home_team             away_team  home_goals  away_goals  \
1520        Tottenham Hotspur       Manchester City           0           0
1521              Aston Villa       West Ham United           3           0
1522         Blackburn Rovers               Everton           1           0
1523         Bolton Wanderers                Fulham           0           0
1524               Sunderland       Birmingham City           2           2
...                       ...                   ...         ...         ...
1895         Newcastle United  West Bromwich Albion           3           3
1896               Stoke City        Wigan Athletic           0           1
1897        Tottenham Hotspur       Birmingham City           2           1
1898          West Ham United            Sunderland           0           3
1899  Wolverhampton Wanderers      Blackburn Rovers           2           3

         season  goal_difference  total_goals  result_away_win  result_draw  \
1520  2010-2011                0            0            False         True
1521  2010-2011                3            3            False        False
1522  2010-2011                1            1            False        False
1523  2010-2011                0            0            False         True
1524  2010-2011                0            4            False         True
...         ...              ...          ...              ...          ...
1895  2010-2011                0            6            False         True
1896  2010-2011               -1            1             True        False
1897  2010-2011                1            3            False        False
1898  2010-2011               -3            3             True        False
1899  2010-2011               -1            5             True        False

      result_home_win  home_season_avg_goals  away_season_avg_goals
1520            False                      0                      0
1521             True                      0                      0
1522             True                      0                      0
1523            False                      0                      0
1524            False                      0                      0
...               ...                    ...                    ...
1895            False                      0                      0
1896            False                      0                      0
1897             True                      0                      0
1898            False                      0                      0
1899            False                      0                      0

[380 rows x 12 columns]
                 home_team                away_team  home_goals  away_goals  \
1900      Blackburn Rovers  Wolverhampton Wanderers           1           2
1901                Fulham              Aston Villa           0           0
1902             Liverpool               Sunderland           1           1
1903   Queens Park Rangers         Bolton Wanderers           0           4
1904        Wigan Athletic             Norwich City           1           1
...                    ...                      ...         ...         ...
2275            Sunderland        Manchester United           0           1
2276          Swansea City                Liverpool           1           0
2277     Tottenham Hotspur                   Fulham           2           0
2278  West Bromwich Albion                  Arsenal           2           3
2279        Wigan Athletic  Wolverhampton Wanderers           3           2

         season  goal_difference  total_goals  result_away_win  result_draw  \
1900  2011-2012               -1            3             True        False
1901  2011-2012                0            0            False         True
1902  2011-2012                0            2            False         True
1903  2011-2012               -4            4             True        False
1904  2011-2012                0            2            False         True
...         ...              ...          ...              ...          ...
2275  2011-2012               -1            1             True        False
2276  2011-2012                1            1            False        False
2277  2011-2012                2            2            False        False
2278  2011-2012               -1            5             True        False
2279  2011-2012                1            5            False        False

      result_home_win  home_season_avg_goals  away_season_avg_goals
1900            False                      0                      0
1901            False                      0                      0
1902            False                      0                      0
1903            False                      0                      0
1904            False                      0                      0
...               ...                    ...                    ...
2275            False                      0                      0
2276             True                      0                      0
2277             True                      0                      0
2278            False                      0                      0
2279             True                      0                      0

[380 rows x 12 columns]
                 home_team          away_team  home_goals  away_goals  \
2280               Arsenal         Sunderland           0           0
2281                Fulham       Norwich City           5           0
2282   Queens Park Rangers       Swansea City           0           5
2283               Reading         Stoke City           1           1
2284  West Bromwich Albion          Liverpool           3           0
...                    ...                ...         ...         ...
2655          Swansea City             Fulham           0           3
2656     Tottenham Hotspur         Sunderland           1           0
2657  West Bromwich Albion  Manchester United           5           5
2658       West Ham United            Reading           4           2
2659        Wigan Athletic        Aston Villa           2           2

         season  goal_difference  total_goals  result_away_win  result_draw  \
2280  2012-2013                0            0            False         True
2281  2012-2013                5            5            False        False
2282  2012-2013               -5            5             True        False
2283  2012-2013                0            2            False         True
2284  2012-2013                3            3            False        False
...         ...              ...          ...              ...          ...
2655  2012-2013               -3            3             True        False
2656  2012-2013                1            1            False        False
2657  2012-2013                0           10            False         True
2658  2012-2013                2            6            False        False
2659  2012-2013                0            4            False         True

      result_home_win  home_season_avg_goals  away_season_avg_goals
2280            False                      0                      0
2281             True                      0                      0
2282            False                      0                      0
2283            False                      0                      0
2284             True                      0                      0
...               ...                    ...                    ...
2655            False                      0                      0
2656             True                      0                      0
2657            False                      0                      0
2658             True                      0                      0
2659            False                      0                      0

[380 rows x 12 columns]
                 home_team          away_team  home_goals  away_goals  \
2660             Liverpool         Stoke City           1           0
2661               Arsenal        Aston Villa           1           3
2662          Norwich City            Everton           2           2
2663            Sunderland             Fulham           0           1
2664  West Bromwich Albion        Southampton           0           1
...                    ...                ...         ...         ...
3035          Norwich City            Arsenal           0           2
3036           Southampton  Manchester United           1           1
3037            Sunderland       Swansea City           1           3
3038     Tottenham Hotspur        Aston Villa           3           0
3039  West Bromwich Albion         Stoke City           1           2

         season  goal_difference  total_goals  result_away_win  result_draw  \
2660  2013-2014                1            1            False        False
2661  2013-2014               -2            4             True        False
2662  2013-2014                0            4            False         True
2663  2013-2014               -1            1             True        False
2664  2013-2014               -1            1             True        False
...         ...              ...          ...              ...          ...
3035  2013-2014               -2            2             True        False
3036  2013-2014                0            2            False         True
3037  2013-2014               -2            4             True        False
3038  2013-2014                3            3            False        False
3039  2013-2014               -1            3             True        False


In [19]:
results_df.head()

,home_team,away_team,home_goals,away_goals,season,goal_difference,total_goals,result_away_win,result_draw,result_home_win,home_season_avg_goals,away_season_avg_goals
0,Sheffield United,Liverpool,1,1,2006-2007,0,2,False,True,False,0,0
1,Arsenal,Aston Villa,1,1,2006-2007,0,2,False,True,False,0,0
2,Everton,Watford,2,1,2006-2007,1,3,False,False,True,0,0
3,Newcastle United,Wigan Athletic,2,1,2006-2007,1,3,False,False,True,0,0
4,Portsmouth,Blackburn Rovers,3,0,2006-2007,3,3,False,False,True,0,0